/* navbar styling */
#main-logo{
    width: 165px;
}
#navbar-items{
    gap: 30px;
}
#navbar{
    padding: 0px 10px;
}
#franchise{
    background-color: transparent;
    border: 1px solid #ffffff;
    padding: 15px 20px;
    cursor: pointer;

}
#online{
    padding: 15px 20px;
    background-color: var(--red);
    border: 0px;
    cursor: pointer;
}
#text-greyy{
    color: #d3d3d3;
}
#f-family{
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding-top: 50px;
}
#j-evenly {
    justify-content: space-evenly;
    padding: 30px 30px;
}
#pointer{
    cursor: pointer;
}
